* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  background-color: aquamarine;
  position: fixed;
  top: 0;
}

.header-logo {
  width: 4.5rem;
  border-radius: 50%;
}

nav {
  width: 100%;
  height: 3rem;
  background-color: blueviolet;
  margin-top: 3rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.85rem;
}

.nav-anchor {
  font-size: 1.15rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.nav-anchor:hover {
  color: darkblue;
}

.heading {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: inline;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  padding: 18px 24px;
  background-color: blue;
  letter-spacing: 2px;
  border-radius: 12px;
  margin-top: 2rem;
}

.image-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 24px 0;
  gap: 5rem;
}

.random {
  width: 300px;
  height: 300px;
  border-radius: 12px;
}

.card-component {
  margin: 5rem;
  width: 44rem;
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  border: 2px solid #000;
  border-radius: 12px;
}

.box-1 {
  width: 40%;
}

.box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  text-align: start;
}

.card-img {
  width: 18rem;
}

.card-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  margin: 24px 6px;
}

.card-para {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 12px 3px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: blue;
  width: 80rem;
  height: 50rem;
}

.sticky-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  font-size: 2rem;
  text-align: center;
  border: 2px solid black;
  margin: 12px 12px;
  border-radius: 12px;
}

.remaining-space {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 12px 12px;
}

.extra-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border: 2px solid black;
  border-radius: 12px;
}

.form-1 {
  height: 18rem;
  width: 18rem;
  border: 2px solid black;
  border-radius: 12px;
  margin: 8rem 0;
}

.input-text {
  padding: 0.75rem;
  font-size: 1rem;
  text-align: center;
}

.form-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.age {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.dropdown-section {
  position: relative;
  display: inline-block;
  margin-bottom: 8rem;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 6px;
  border: 2px solid green;
  background-color: rgba(0, 128, 0, 0.774);
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 12.85rem;
  text-align: center;
}

.dropdown-content-e {
  text-decoration: none;
  color: #000;
  padding: 0.5rem;
  font-size: 1.25rem;
  display: block;
  background-color: rgba(0, 209, 0, 0.404);
}

.dropdown-content-e:hover {
  background-color: rgba(0, 209, 0, 0.719);
}

.dropdown-section:hover .dropdown-content {
  display: block;
}

.form-validation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 6px;
  margin: 12rem 1rem;
}

.fillup {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border: 2px solid gray;
  border-radius: 6px;
}

.form-btn {
  padding: 0.5rem;
  border: 2px solid green;
  background-color: rgba(0, 128, 0, 0.76);
  width: 6rem;
  border-radius: 6px;
  cursor: pointer;
  margin: 1rem 0;
  margin-bottom: -0.25rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form-btn:hover {
  box-shadow: 2px 2px 4px #575757b0;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}

.pricing-table {
  width: 100%;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: blueviolet;
}

.last-heading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.75rem;
  color: #fff;
}

.boxes-grid {
  width: 80%;
  min-height: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

/* Grid Doubt - Have to make clarity */

.box-1,
.box-2,
.box-3 {
  padding: 1rem;
  text-align: center;
  border: 2px solid gray;
}

@media only screen and (max-width: 600px) {
  .image-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
